@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* overwrite player container class */

  .rhap_container {
    bottom: 0px;
    width: 80% !important;
    background-color: initial;
  }

  .wtf {
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
